*{
    margin: 0;
    padding: 0;
}

#navStyle {
    height: 80px;
    width: 100%;
    background-image:url(../image/3.jpg) ;
}

.sign-background{
    background: url(../image/4.jpg) no-repeat;
    width: 100%;
>>>>>>> d1557ec3749c6bb228208dd75a94540e205ea4a2
    height: 100%;
}

#signStyle{
    margin: 0 auto;
    margin-top: 5%;
    width: 30%;
    height: 30%;
    border-style: solid;
    border-color: #c4e3f3;
    padding: 20px;
    margin-bottom: 200px;
}

.publishButton{
    position: relative;
    font-size: large;
    font-weight: bold;
    left: 2%;
    top:60%;
}

.homeButton{
    position: relative;
    font-size: large;
    font-weight: bold;
    margin-left: 10%;
    top:60%;
}

.personButton{
    position: relative;
    font-size: large;
    font-weight: bold;
    left: 4%;
    top:60%;
}

.nav{
    display: none;
}

#navButton{
    display: inline;
    font-weight: bold;
    font-size: large;
    left:65%;
    position: relative;
    top:60%;
}
.navButton2{
    position: relative;
    font-weight: bold;
    font-size: large;
    left: 10px;
}

#button1{
    margin-left: 10%;
}

#button2{
    float: right;
    margin-right: 10%;
}

#warn{
    visibility: hidden;
}

#warning{
    color: red;
    font-weight: 200;
    text-align: center;
}


/*publish style*/

.publishInput{
    margin: 0 auto;
    width: 30%;
    height: auto;
    margin-top: 6%;
}

.input-group-addon:first-child{
    background-color: transparent;
    font-weight: bold;
}

.publishSubmit{
    margin-left: 10%;
}

.publishReset{
    float:right;
    margin-right: 10%;
}


/*footer Style*/

.footerStyle{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #d4d4d4;
}

.footer{
    margin-top:10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.foot{
    margin-top:10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


